<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tivial | OMG</title>
    <link rel="icon" href="./img/logo_omg_navbar.png">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <!-- ROUTER -->
    <script src="https://unpkg.com/vue-router@3/dist/vue-router.js"></script>
    <link rel="stylesheet" href="./asset/vapor_bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>

    <div id="app">
        <router-link to="/"></router-link>

        <router-view></router-view>
    </div>
    <!-- PINIA -->
    <script src="https://unpkg.com/@vue/composition-api"></script>
    <script src="https://unpkg.com/vue-demi"></script>
    <script src="https://unpkg.com/pinia"></script>

    <!-- CHARTS -->
    <script>
        import {
            Chart as ChartJS,
            Title,
            Tooltip,
            Legend,
            BarElement,
            CategoryScale,
            LinearScale
        } from 'chart.js'
        import { Bar } from 'vue-chartjs'
        import * as chartConfig from './chartConfig.js'

        ChartJS.register(CategoryScale, LinearScale, BarElement, Title, Tooltip, Legend)

        export default {
            name: 'App',
            components: {
                Bar
            },
            data() {
                //Hardcodet
                const data = {
                    labels: [
                        'January',
                        'February',
                        'March',
                        'April',
                        'May',
                        'June',
                        'July',
                        'August',
                        'September',
                        'October',
                        'November',
                        'December'
                    ],
                    datasets: [
                        {
                            label: 'Data One',
                            backgroundColor: '#f87979',
                            data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11]
                        }
                    ]
                }


                return data
            }
        }

    </script>


    <script src="./js/app.js"></script>

    <!-- <select class="card__select card__select__difficult" v-model="dificultat" @change="onChange">
        <option selected value="">Selecciona una dificultat</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select>
    <select class="desplegue__select desplegue__select__category" v-model="categoria">
        <option selected  value="">Selecciona una categoria</option>
        <option value="history">History</option>
        <option value="film_and_tv">Film & TV</option>
        <option value="sport_and_leisure">Sport & Leisure</option>
        <option value="general_knowledge">General Knowledge</option>
        <option value="geography">Geography</option>
        <option value="music">Music</option> 
        <option value="science">Science</option>
        <option value="arts_and_literature">Arts & Literature</option>
        <option value="food_and_drink">Food & Drink</option>
        <option value="society_and_culture">Society & Culture</option>
        </select> -->
</body>

</html>